.header h1 {
    margin-top: 8px;
    margin-bottom: 0px !important;
}
.pusher {
    height: 100%;
}
#root {
    height: 100%;
}
.ui.container {
    height: 100%;
}
.toolBar {
    margin-top: 4px;
}
#listButton {    
    display: inline;
}
.ui.search  {    
    display: inline;
    margin-left: 16px;
}
#googleMap {
    margin-top: 8px;
    width:100%;
    height:calc(100% - 156px);
    height:-moz-calc(100% - 156px);
    height:-webkit-calc(100% - 156px);
    
}
#dateFilter {
  margin-top: 8px;
}
#sportiveList {
    margin: 4px;
}
.info-detail {
    
    float : left;
}
.info-advert {
    margin-left: 8px;
    float : right;
}
.clickable {
    cursor: hand;
    cursor: pointer; 
}
.ui.sidebar {
    background-color: white;
}
.media-short {
    display : none;
}
.media-long {
    display: block;
}
.media-long span {
    display: inline;
}

@media (max-width:600px)
{
    .media-long {
        display: none;
    }
    .media-long span {
        display: none;
    }
    .media-short {
        display : block;
    }
    .media-short span {
        display : inline;
    }
}