<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
</head>
<body>	
	<div>
		<button class="ui button">hello World</button>
	</div>
	<div id="dateFilter"></div>
	<div id="googleMap" style="width:600px;height:480px;"></div>	
	<div class="ui buttons">
		<button class="positive ui toggle button">One</button>
		<button class="ui toggle button">Two</button>
		<button class="ui toggle button">Three</button>	
	</div>
	
	<div id="sportiveList"></div>
	<script src="javascripts/bundle.js"></script>	
</body>
</hmtl>
	