<html>
<head>
<title>Sportive Map</title>
<meta name="description" content="All UK road cycling sportives in a single place, on a single map!" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>				    
    <div class="ui sidebar">            
        <div id="sportiveList"></div>
    </div>
    <div class="ui container">
        <div class="header">                
            <h1>Sportive Map</h1>
            <span>Sportives in the next:</span>
            <div id="dateFilter"></div>
            <div class="item clickable" id="listButton">
                <i class="sidebar icon"></i>
                List
            </div>
        </div>
        <div id="googleMap"></div>
    </div>        	
    <script src="javascripts/bundle.js"></script>
    <script>
        $('#listButton').click(function(e) {
           $('.ui.sidebar')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('toggle'); 
        });
    </script>	
</body>
</hmtl>
	